<!DOCTYPE HTML>
<html lang="en">
<head>
  <link href="reset.css"rel="stylesheet" type="text/css">
  <link href="skeleton.css"rel="stylesheet" type="text/css">
  <link href="style.css"rel="stylesheet" type="text/css"> 
</head>
<body>
    <div class="row headerimage">
      <img id="headerimg" src="pforkedlogo.jpg">
    <div class="row dataset">
      <ul id="navigation">
        <li id="firstnav"><a href=#bnms>BNMS</a></li>
        <li><a href=#artists>RatingsxArtists</a></li>
        <li><a href=#avgs>Averages</a></li>
        <li><a href=#labels>RatingsxLabels</a></li>
        <li><a href=#mentions>Mentions</a></li>
        <li><a href=#authors>Authors</a></li>
        <li id="lastnav"><a href=#highslows>Highs+Lows</a></li>
      </ul>
    </div><!--end of nav row -->
    <div class="row dataset red topline">
      <ol id="topline">
        <li id="firsttopline">
          <p class="med">Reviews</p>
          <p class="big redtop"> <%= thousandize(@reviews.count) %></p>
        </li>
        <li>
          <p class="med">Artists</p>
          <p class="big redtop"><%= thousandize(@artists.count) %></p>
        </li>
        <li>
          <p class="med">Labels</p>
          <p class="big redtop"><%= thousandize(@labels.count) %></p>
        </li>
        <li>
          <p class="med">Authors</p>
          <p class="big redtop" ><%= thousandize(@authors) %></p>
        </li>
      </ol><!-- end of topline stats list -->
    </div><!-- end of dataset -->
    </div><!-- end of header row -->
  <div class="container">
    <div id="bnms" class="row">
      <h2>BNMs</h2>
      <div class="one-third column">
        <div class="section">
        <h3>Top 25 BNM'd Artists</h3>
          <table id="artisttable">
            <tr>
              <th>Artist</th>
              <th>BNMs</th>
            </tr>
          <% @bnm_artists.each do |artist| %>
            <tr>
              <td><%= artist.name %></td>
              <td><%= artist.count %></td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
      <div class="one-third column">
        <div class="section">
        <h3>Top 10 BNM Authors</h3>
          <table>
            <tr>
              <th>Author</th>
              <th>BNMs</th>
            </tr>
          <% @bnm_auths.each do |review| %>
            <tr>
              <td><%= review.author %></td>
              <td align="center"><%= review.count %></td>
            </tr>
          <% end %>
          </table>
        </div>
        <img src="weavers.jpg">
      </div>
      <div class="one-third column">
        <div class="section">
          <p class="medrating">Avg BNM Rating:<span class="bigrating rednums"> <%= @bnmrating %></span></p>
          <p class="medrating">% of Reviews BNM'ed:</br><span class="bigrating rednums"><%= @bnms %>%</span></p>
        </div>
        <div class="section">
        <h3>Top 15 BNM'd Record Labels</h3>
          <table>
            <tr>
              <th>Label</th>
              <th>BNMs</th>
            </tr>
          <% @bnm_labels.each do |label| %>
            <tr>
              <td><%= label.name %></td>
              <td><%= label.count %></td>
            </tr>
          <% end %>
          </table>
        </div>
        
      </div>
    </div><!-- end of the bnms div -->
    
    
    <div class="row red" id="artists">
      <h2>RATINGS × ARTISTS</h2>
      <div class="one-third column">
        <img src="pearls.jpg">
        <img src="gorky.jpg">
        <img id="isbimg" src="isb.png">
        <!-- <img id="tvp" src="tvp.jpg"> -->
      </div><!-- end of center picture column -->
      <div class="one-third column">
        <div class="section">
        <h3>Top Rated Artists</h3>
          <table>
            <tr>
              <th>Artist</th>
              <th>Avg Rating</th>
            </tr>
            <% @topartists.each do |review| %>
            <% artist, avgrating = *review %>
            <tr>
              <td><%= artist %></td>
              <td><%= avgrating.round(2) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="one-third column">
        <div class="section">
        <h3>Lowest Rated Artists</h3>
          <table>
            <tr>
              <th>Artist</th>
              <th>Avg Rating</th>
            </tr>
            <% @bottomartists.each do |review| %>
            <% artist, avgrating = *review %>
            <tr>
              <td><%= artist %></td>
              <td><%= avgrating.round(2) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div><!-- end of artists ratings div -->
    <div class="row red" id="avgs">
      <h2>AVERAGES</h2>
      <div class="four columns">
        <div class="section">
          <p class="smallrating">Avg Rating for Artists Whose Names Include "bear" "deer" "black" "crystal" "beach" "girls" or "magic":</br><span class="bigrating rednums"><%= @bandnames %></span></p>
          <p class="medrating">Avg Rating</br>for All Artists:</br><span class="bigrating rednums"> <%= @avgrating %></span></p>
        </div>
      </div>
      <div class="four columns">
        <img id="tibet" src="tibet.jpg">
      </div>
      <div class="four columns">
        <div class="section">
          <h3>Avg Ratings by Year (with total review counts)</h3>
            <table>
              <tr>
                <th>Year</th>
                <th>Total Reviews</th>
                <th>Avg Rating</th>
              </tr>
              <% @avgbyyear.each do |review| %>
              <tr>
                <td><%= review.year %></td>
                <td><%= review.count %></td>
                <td><%= review.avg.to_f.round(2) %></td>
              </tr>
              <% end %>
            </table>
        </div>
      </div>
      <div class="four columns">
        <img src="buffy.jpg">
      </div>
    </div><!-- end of random row -->
    <div class="row red" id="labels">
      <h2>RATINGS × LABELS</h2>
      <div class="one-third column">
        <div class="section">
        <h3>Highest Rated Labels</h3>
          <table>
            <tr>
              <th>Label</th>
              <th>Avg Rating</th>
            </tr>
            <% @toplabels.each do |review| %>
            <% label, avgrating = *review %>
            <tr>
              <td><%= label %></td>
              <td><%= avgrating.round(2) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="one-third column">
        <div class="section">
          <h3>Lowest Rated Labels</h3>
            <table>
              <tr>
                <th>Label</th>
                <th>Avg Rating</th>
              </tr>
              <% @bottomlabels.each do |review| %>
              <% label, avgrating = *review %>
              <tr>
                <td><%= label %></td>
                <td><%= avgrating.round(2) %></td>
              </tr>
              <% end %>
            </table>
        </div>
      </div>
      <div class="one-third column">
        <img id="vashti"src="vashti.jpg">
        <img src="steeleye.jpg">
        <img id="drakeimg"src="drake.jpg">
      </div>
    </div><!-- end of record label ratings -->
    <div class="row red" id="mentions">
      <h2>MENTIONS</h2>
      <div class="two-thirds column">
        <div class="section">
          <h3>BIG NAMES</h3>
          <ol id="artistmentions">
            <li>Ariel Pink: <span class="rednums"><%= @arielpink %><span></li>
            <li>David Byrne: <span class="rednums"><%=  @davidbyrne %><span></li>
            <li>Kurt Cobain: <span class="rednums"><%= @cobain %><span></li>
            <li>Thom Yorke: <span class="rednums"><%= @yorke %><span></li>
            <li>Bruce Springsteen: <span class="rednums"><%= @springsteen %><span></li>
            <li>Lou Reed: <span class="rednums"><%= @loureed %><span></li>
            <li>Brian Wilson: <span class="rednums"><%=  @brianwilson %><span></li>
            <li>John Lennon: <span class="rednums"><%=  @johnlennon %><span></li>
            <li>Brian Eno: <span class="rednums"><%=  @brianeno %><span></li>
            <li>Jared Leto: <span class="rednums"><%=  @jaredleto %><span></li>
          </ol>
        </div>
      </div>
      <div class="one-third column">
        <div class="section">
          <h3>INSTRUMENTS</h3>
          <ol id="instruments">
            <li><p class="medrating">Guitar:<span class="bigrating rednums"><%= thousandize(@guitars) %></span></p></li>
            <li><p class="medrating">Synth:<span class="bigrating rednums"><%=  thousandize(@synths) %></span></p></li>
            <li><p class="medrating">Sampler:<span class="bigrating rednums"><%= thousandize(@samplers) %></span></p></li> 
            <li><p class="medrating">Zither:<span class="bigrating rednums"><%= @zithers %></span></p></li>
            <li><p class="medrating">Didgeridoo:<span class="bigrating rednums"><%= @didges %></span></p></li> 
          </ol>
        </div>
      </div>
    </div><!-- end of row with artist mentions -->
    <div class="row red" id="authors">
      <h2>AUTHORS</h2>
      <div class="one-third column">
        <div class="section">
        <h3>20 Most Prolific Authors</h3>
          <table>
            <tr>
              <th>Author</th>
              <th># of Reviews</th>
            </tr>
          <% @prolific_auths.each do |review| %>
            <tr>
              <td><%= review.author %></td>
              <td><%= review.count %></td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
      <div class="one-third column">
        <div class="section">
        <h3>Highest Scoring Authors</h3>
          <table>
            <tr>
              <th>Author</th>
              <th>Avg Rating</th>
            </tr>
            <% @topauths.each do |review| %>
            <% author, avgrating = *review %>
            <tr>
              <td><%= author %></td>
              <td><%= avgrating.round(2) %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <img class="littlepic" src="maccoll.jpg">
        <img class="littlepic" src="trimble.jpg">

      </div>
      <div class="one-third column">
        <div class="section">
        <h3>Lowest Scoring Authors</h3>
          <table>
            <tr>
              <th>Author</th>
              <th>Avg Rating</th>
            </tr>
            <% @bottomauths.each do |review| %>
            <% author, avgrating = *review %>
            <tr>
              <td><%= author %></td>
              <td><%= avgrating.round(2) %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <img class="littlepic" src="adol.jpg">
        <img class="littlepic" src="alee.jpg">
      </div>
    </div><!-- end of authors div -->
    <div class="row red" id="highslows">
      <h2>HIGHS + LOWS</h2>
      <div class="four columns">
        <img class ="bottompics" src="trish.jpg">
        <img class ="bottompics" src="linkous.png">
        <img class = "bottompics" src="jansch.png">
      </div>
      <div class="twelve columns">
        <div class="section">
        <h3>Perfect Tens</h3>
          <table>
            <tr>
              <th>Album</th>
              <th>Artist</th>
            </tr>
            <% @perfect.each do |review| %>
            <tr>
              <td><%= review.album.name %> (<%= review.year %>)</td>
              <td><%= review.album.artist.name %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div><!-- end of row with perfect tens -->
    <div class="row">
      <div class="six columns">
        <div class="section">
        <h3>Perfect Zeros</h3>
          <table>
            <tr>
              <th>Album</th>
              <th>Artist</th>
            </tr>
            <% @zero.each do |review| %>
            <tr>
              <td><%= review.album.name %>  (<%= review.year %>)</td>
              <td><%= review.album.artist.name %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="ten columns">
        <img src="seb.jpg">
      </div>
    </div><!-- end of perfect zeros row -->
  </div><!-- end of the container -->
  <footer>
    <div id="footerimg">
      <img src="lilpforked.png">
    </div>
    <div id="footercopy">
        Pitchforked - &copy; seldomatt 2012</br>
        </br>
        </br>
        </br>
    </div>
  </footer>
</body>
</html>
