<!DOCTYPE HTML>
<html lang="en">
<head>
  <link href="reset.css"rel="stylesheet" type="text/css">
  <link href="style.css"rel="stylesheet" type="text/css"> 
</head>
<body>
    <div id="content">
      <img id="headerimg" src="pforkheader.png">
        
          <!-- <h3>DATASET</h3> -->
        <section id="overall">
          <ol id="topline">
            <li>
              <p class="med">Reviews</p>
              <p class="big"> <%= @reviews.count %></p>
            </li>
            <li>
              <p class="med">Artists</p>
              <p class="big"><%= @artists.count %></p>
            </li>
            <li>
          <div class="toplinestats"> 
            <div class="med">Labels</div>
            <div class="big"><%= @labels.count %></div>
          </div></li>
            <li>
          <div class="toplinestats">
            <div class="med">Authors</div>
            <div class="big" ><%= @authors %></div>
          </div></li>
        </ol><!-- end of topline stats -->
        </section>
        
      <div class="sectiongroup">
        
        
          <table class="nestedtable">
            <tr><h3>AUTHORS</h3></tr>
            <tr>
              <td class="nestedtd">
                <section>
                  <h2>20 Most Prolific</h2>
                  <table>
                    <tr>
                      <th>Author</th>
                      <th># of Reviews</th>
                    </tr>
                  <% @prolific_auths.each do |review| %>
                    <tr>
                      <td><%= review.author %></td>
                      <td><%= review.count %></td>
                    </tr>
                  <% end %>
                  </table>
                </section>
              </td>
              <td class="nestedtd"> 

                <section>

                <h2>Highest Scoring Authors</h2>
                  <table>
                    <tr>
                      <th>Author</th>
                      <th>Avg Rating</th>
                    </tr>
                    <% @topauths.each do |review| %>
                    <% author, avgrating = *review %>
                    <tr>
                      <td><%= author %></td>
                      <td><%= avgrating.round(2) %></td>
                    </tr>
                    <% end %>
                  </table>
                </section>
              </td>
              <td class="nestedtd">
                <section>
                  <h2>Lowest Scoring Authors</h2>
                  <table>
                    <tr>
                      <th>Author</th>
                      <th>Avg Rating</th>
                    </tr>
                    <% @bottomauths.each do |review| %>
                    <% author, avgrating = *review %>
                    <tr>
                      <td><%= author %></td>
                      <td><%= avgrating.round(2) %></td>
                    </tr>
                    <% end %>
                  </table>
                </section>
              </td>
            </tr>
          </table><!-- all author tables -->
          
      </div><!-- end of sectiongroup for authors -->
      <div class="sectiongroup">
        <h3>BNMs</h3>
        
          <section>
            <h2>Stats</h2>
            <p>% of Reviews BNM'ed(since 2003): %<%= @bnms %></p>
            <p>Avg BNM Rating: <%= @bnmrating %></p>
          </section>
          
           <table class="nestedtable"> 
            <tr valign="top">
              <td valign="top" class="nestedtd">
                <section>
                  <h2>Top 10 BNM authors</h2>
                  <table>
                    <tr>
                      <th>Author</th>
                      <th>BNMs</th>
                    </tr>
                  <% @bnm_auths.each do |review| %>
                    <tr>
                      <td><%= review.author %></td>
                      <td><%= review.count %></td>
                    </tr>
                  <% end %>
                  </table>
                </section>
                <img class="tableimg" src="weavers.jpg">
              </td>
              <td class="nestedtd">
                <img id="pearls" src="pearls.jpg">
                <section>
                <h2>Top 15 BNM'ed Record Labels</h2>
                <table>
                  <tr>
                    <th>Label</th>
                    <th>BNMs</th>
                  </tr>
                <% @bnm_labels.each do |label| %>
                  <tr>
                    <td><%= label.name %></td>
                    <td><%= label.count %></td>
                  </tr>
                <% end %>
                </table>
              </section>
              </td>
              <td class="nestedtd">
                <section>
                  <h2>Top 25 BNM'ed Artists</h2>
                  <table>
                    <tr>
                      <th>Artist</th>
                      <th>BNMs</th>
                    </tr>
                  <% @bnm_artists.each do |artist| %>
                    <tr>
                      <td><%= artist.name %></td>
                      <td><%= artist.count %></td>
                    </tr>
                  <% end %>
                  </table>
              </section>
              </td>
            </tr>
          </table><!-- end of nested bnm table -->
      </div><!-- end of sectiongroup for bnms -->
      <div class="sectiongroup">
        <h3>RATINGS</h3>
        
          <table class="nestedtable">
            <tr><td><h2>Artists</h2></td></tr>
            <tr>
              <td class="nestedtddouble">
                <section>
                  <h2>Top Rated Artists</h2>
                  <table>
                    <tr>
                      <th>Artist</th>
                      <th>Avg Rating</th>
                    </tr>
                    <% @topartists.each do |review| %>
                    <% artist, avgrating = *review %>
                    <tr>
                      <td><%= artist %></td>
                      <td><%= avgrating.round(2) %></td>
                    </tr>
                    <% end %>
                  </table>
                </section>
              </td>
              <td class="nestedtddouble">
              <section>
                <h2>Lowest Rated Artists</h2>
                <table>
                  <tr>
                    <th>Artist</th>
                    <th>Avg Rating</th>
                  </tr>
                  <% @bottomartists.each do |review| %>
                  <% artist, avgrating = *review %>
                  <tr>
                    <td><%= artist %></td>
                    <td><%= avgrating.round(2) %></td>
                  </tr>
                  <% end %>
                </table>
              </section>
              </td>
            </tr>
            <tr><td><h2>Labels</h2></td></tr>
            <tr>
              <td class="nestedtddouble">
                <section>
                <h2>Top Rated Labels</h2>
                <table>
                  <tr>
                    <th>Label</th>
                    <th>Avg Rating</th>
                  </tr>
                  <% @toplabels.each do |review| %>
                  <% label, avgrating = *review %>
                  <tr>
                    <td><%= label %></td>
                    <td><%= avgrating.round(2) %></td>
                  </tr>
                  <% end %>
                </table>
              </section>
              </td>
              <td class="nestedtddouble">
                <section>
                  <h2>Lowest Rated Labels</h2>
                  <table>
                    <tr>
                      <th>Label</th>
                      <th>Avg Rating</th>
                    </tr>
                    <% @bottomlabels.each do |review| %>
                    <% label, avgrating = *review %>
                    <tr>
                      <td><%= label %></td>
                      <td><%= avgrating.round(2) %></td>
                    </tr>
                    <% end %>
                  </table>
              </td>
            </tr>
          </table><!-- end of nested table for ratings -->
          </div><!-- end of sectiongroup for ratings -->
            
            <section>
            <h2>Averages</h2>
            <h2>Avg Rating</h2>
              <p><%= @avgrating %></p>
            <h2>Avg Ratings by Year (with total review counts)</h2>
              <table>
                <tr>
                  <th>Year</th>
                  <th>Total Reviews</th>
                  <th>Avg Rating</th>
                </tr>
                <% @avgbyyear.each do |review| %>
                <tr>
                  <td><%= review.year %></td>
                  <td><%= review.count %></td>
                  <td><%= review.avg.round(2) %></td>
                </tr>
                <% end %>
              </table>
              <h2>Avg Rating for bandnames including:</br> %"bear"|"deer"|"black"|"crystal"|"beach"|"girls"|"magic"%</h2>
                <p><%= @bandnames %></p>
            </section>

            <h2>Perfect Tens</h2>
            <table>
              <tr>
                <th>Album</th>
                <th>Artist</th>
              </tr>
              <% @perfect.each do |review| %>
              <tr>
                <td><%= review.album.name %> (<%= review.year %>)</td>
                <td><%= review.album.artist.name %></td>
              </tr>
              <% end %>
            </table>
            <h2>Perfect Zeros</h2>
            <table>
              <tr>
                <th>Album</th>
                <th>Artist</th>
              </tr>
              <% @zero.each do |review| %>
              <tr>
                <td><%= review.album.name %>  (<%= review.year %>)</td>
                <td><%= review.album.artist.name %></td>
              </tr>
              <% end %>
            </table>
        <!-- <p>Scoring stats by author(highest and lowest avg), record label, year(?). Highest ever score, lowest ever score, avg score of bands with certain names</p> -->
        <section>
          <h2>Artist Mentions</h2>
          <ol>
            <li>Ariel Pink: <span class="rednums"><%= @arielpink %></span></li>
            <li>David Byrne: <span class="rednums"><%=  @davidbyrne %></span></li>
            <li>Kurt Cobain: <span class="rednums"><%= @cobain %></span></li>
            <li>Thom Yorke: <span class="rednums"><%= @yorke %></span></li>
            <li>Bruce Springsteen: <span class="rednums"><%= @springsteen %></span></li>
            <li>Lou Reed: <span class="rednums"><%= @loureed %></span></li>
            <li>Brian Wilson: <span class="rednums"><%=  @brianwilson %></span></li>
            <li>John Lennon: <span class="rednums"><%=  @johnlennon %></span></li>
            <li>Brian Eno: <span class="rednums"><%=  @brianeno %></span></li>
            <li>Jared Leto: <span class="rednums"><%=  @jaredleto %></span></li>
          </ol>
       </section><!-- artist mentions section -->
       <section>
          <h2>Genre Lifecycle</h2>
          <h2>Electroclash</h2>
          <table>
            <tr>
              <th>Year</th>
              <th>Mentions</th>
            </tr>
            <tr>
              <td>2002</td>
              <td><%= @electro02 %></td>
            </tr>
            <tr>
              <td>2003</td>
              <td><%= @electro03 %></td>
            </tr>
            <tr>
              <td>2004</td>
              <td><%= @electro04 %></td>
            </tr>
            <tr>
              <td>2012</td>
              <td><%= @electro12 %></td>
            </tr>
          </table>
          <h2>Chillwave Growth Cycle</h2>
          <table>
            <tr>
              <th>Year</th>
              <th>Mentions</th>
            </tr>
            <tr>
              <td>2009</td>
              <td><%= @chill09 %></td>
            </tr>
            <tr>
              <td>2010</td>
              <td><%= @chill10 %></td>
            </tr>
            <tr>
              <td>2011</td>
              <td><%= @chill11 %></td>
            </tr>
            <tr>
              <td>2012</td>
              <td><%= @chill12 %></td>
            </tr>
          </table>
          <h2>Balearic</h2>
          <table>
            <tr>
              <th>Year</th>
              <th>Mentions</th>
            </tr>
            <tr>
              <td>2007</td>
              <td><%= @balearic07 %></td>
            </tr>
            <tr>
              <td>2008</td>
              <td><%= @balearic08 %></td>
            </tr>
            <tr>
              <td>2009</td>
              <td><%= @balearic09 %></td>
            </tr>
            <tr>
              <td>2010</td>
              <td><%= @balearic10 %></td>
            </tr>
          </table>
       </section><!-- trend mentions section -->
       <section>
          <h2>Instruments</h2>
          <ol>
            <li>Guitar: <%= @guitars %> </li>
            <li>Synth: <%=  @synths %> </li>
            <li>Sampler: <%= @samplers %></li> 
            <li>Zither: <%= @zithers %></li>
            <li>Didgeridoo: <%= @didges %></li> 
          </ol>
      </section><!-- instrument mention section -->
      </div> <!-- end div sections -->
    </div> <!-- end div content -->
</body>
</html>