<!DOCTYPE HTML>
<html lang="en">
<head>
  <link href="reset.css"rel="stylesheet" type="text/css">
  <link href="style.css"rel="stylesheet" type="text/css"> 
</head>
<body>
  <div id="container">
    <div id="content">
      <div class="sections">
        <section>
          <h2>Reviews</h2>
            <p>Total Reviews: <%= @reviews.count %></p>
            <p>Total Artists: <%= @artists.count %></p>
            <p>Total Labels: <%= @labels.count %></p>
        </section>
        <section>
          <h2>Authors</h2>
            <p>Total Authors: <%= @authors %></p>
            <h3>20 Most Prolific Authors</h3>
            <table>
              <tr>
                <th>Author</th>
                <th># of Reviews</th>
              </tr>
            <% @prolific_auths.each do |review| %>
              <tr>
                <td><%= review.author %></td>
                <td><%= review.count %></td>
              </tr>
            <% end %>
            </table>
        </section>
        <section class="last">
          <h2>BNMs</h2>
            <p>% of Reviews BNM'ed(since 2003): %<%= @bnms %></p>
            <p>Avg BNM Rating: <%= @bnmrating %></p>
            <h3>Top 10 BNM authors</h3>
            <table>
              <tr>
                <th>Author</th>
                <th>BNMs</th>
              </tr>
            <% @bnm_auths.each do |review| %>
              <tr>
                <td><%= review.author %></td>
                <td><%= review.count %></td>
              </tr>
            <% end %>
            </table>
            <h3>Top 15 BNM'ed Record Labels</h3>
            <table>
              <tr>
                <th>Label</th>
                <th>BNMs</th>
              </tr>
            <% @bnm_labels.each do |label| %>
              <tr>
                <td><%= label.name %></td>
                <td><%= label.count %></td>
              </tr>
            <% end %>
            </table>
            <h3>Top 25 BNM'ed Artists</h3>
            <table>
              <tr>
                <th>Artist</th>
                <th>BNMs</th>
              </tr>
            <% @bnm_artists.each do |artist| %>
              <tr>
                <td><%= artist.name %></td>
                <td><%= artist.count %></td>
              </tr>
            <% end %>
            </table>
        </section>
        <section>
          <h2>Ratings</h2>
            <h3>Top Rated Artists</h3>
            <table>
              <tr>
                <th>Artist</th>
                <th>Avg Rating</th>
              </tr>
              <% @topartists.each do |review| %>
              <% artist, avgrating = *review %>
              <tr>
                <td><%= artist %></td>
                <td><%= avgrating.round(2) %></td>
              </tr>
              <% end %>
            </table>
          </section>
          <section>
            <h3>Lowest Rated Artists</h3>
            <table>
              <tr>
                <th>Artist</th>
                <th>Avg Rating</th>
              </tr>
              <% @bottomartists.each do |review| %>
              <% artist, avgrating = *review %>
              <tr>
                <td><%= artist %></td>
                <td><%= avgrating.round(2) %></td>
              </tr>
              <% end %>
            </table>
          </section>
          <section class="last">
            <h3>Top Rated Labels</h3>
            <table>
              <tr>
                <th>Label</th>
                <th>Avg Rating</th>
              </tr>
              <% @toplabels.each do |review| %>
              <% label, avgrating = *review %>
              <tr>
                <td><%= label %></td>
                <td><%= avgrating.round(2) %></td>
              </tr>
              <% end %>
            </table>
          </section>
            <h3>Lowest Rated Labels</h3>
            <table>
              <tr>
                <th>Label</th>
                <th>Avg Rating</th>
              </tr>
              <% @bottomlabels.each do |review| %>
              <% label, avgrating = *review %>
              <tr>
                <td><%= label %></td>
                <td><%= avgrating.round(2) %></td>
              </tr>
              <% end %>
            </table>
            <h3>Highest Scoring Authors</h3>
            <table>
              <tr>
                <th>Author</th>
                <th>Avg Rating</th>
              </tr>
              <% @topauths.each do |review| %>
              <% author, avgrating = *review %>
              <tr>
                <td><%= author %></td>
                <td><%= avgrating.round(2) %></td>
              </tr>
              <% end %>
            </table>
            <h3>Lowest Scoring Authors</h3>
            <table>
              <tr>
                <th>Author</th>
                <th>Avg Rating</th>
              </tr>
              <% @bottomauths.each do |review| %>
              <% author, avgrating = *review %>
              <tr>
                <td><%= author %></td>
                <td><%= avgrating.round(2) %></td>
              </tr>
              <% end %>
            </table>
            <h3>Avg Rating</h3>
            <p><%= @avgrating %></p>
            <h3>Avg Rating for bandnames including %"bear"|"deer"|"black"| "crystal"|"beach"|"girls"|"magic"%</h3>
              <p><%= @bandnames %></p>

            <h3>Perfect Tens</h3>
            <table>
              <tr>
                <th>Album</th>
                <th>Artist</th>
              </tr>
              <% @perfect.each do |review| %>
              <tr>
                <td><%= review.album.name %> (<%= review.year %>)</td>
                <td><%= review.album.artist.name %></td>
              </tr>
              <% end %>
            </table>
            <h3>Perfect Zeros</h3>
            <table>
              <tr>
                <th>Album</th>
                <th>Artist</th>
              </tr>
              <% @zero.each do |review| %>
              <tr>
                <td><%= review.album.name %>  (<%= review.year %>)</td>
                <td><%= review.album.artist.name %></td>
              </tr>
              <% end %>
            </table>
        <p>Scoring stats by author(highest and lowest avg), record label, year(?). Highest ever score, lowest ever score, avg score of bands with certain names</p>
        <h2>Mentions</h2>
        <p>Counts on actual body of reviews, ex. mentions of Kurt Cobain, guitar vs. synth, etc.</p>
       
      <p>Avg Rating of Band whose names include 'Bear':<%= @rating %></p>
      </div> <!-- end div sections -->
    </div> <!-- end div content -->
  </div> <!-- end div container -->
</body>
</html>